body{
  margin: 0;
}

nav{
  position:fixed;
  top: 0;
  padding-top: 15px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 3;
}

nav span{
  padding: 0px 10px;
  font-size: 20px;
  font-weight: bold;
  float: right;
}

header{
  margin-top: 60px;
  background-image: url('images/drone_header.jpg');
  background-repeat: no-repeat;
  /*background-size: 100%;*/
  height: 700px;
}
header ul{
  list-style-type: none;

  padding: 3px 42px 0px 50px;
  margin: 0px;
}
header ul li{

  padding: 0px 0px 0px 0px;
  width: 148px;
}
header ul li a{
  color: white;
  font-size: 27px;
  font-style: normal;
  text-decoration: none;
}
.social img{
  height: 50px;
  width: 50px;
  top: 200px;
}
.textoPromo{
  font-size: 25px;
  margin-top: 100px;
  margin-left: 30px;
  color: black;
  font-family: 'Anton', sans-serif;
  font-family: 'Paytone One', sans-serif;
  font-family: 'PT Mono', monospace;
}
/*.slogan{
  font-family: 'Anton', sans-serif;
  font-family: 'Paytone One', sans-serif;
  font-family: 'PT Mono', monospace;
  font-weight: bolder;
}*/
/*header div .social ul{
  width: 154px;
  padding-top: 421px;
}
header div .social ul li{
  width: 50px;
}
header div .social ul img{
  width: 30px;
}*/
/*header div .textoPromo{
  width: 100px;
  width: 500px;
  height: 272px;
  color: #222;
  font-size: 36px;
  padding: 117px 0px 0px 53px;
  margin: 0;
  float: left;
}*/

.nameEmpresa{
  color: black;
  padding: 0px 0px 0px 0px;
  font-size: 30px;

  /*margin-top: 43px;*/
  /* margin: 0px; */
  /* margin-right: 6px; */
  /* width: 442px;*/
}

.slogan{
  margin-top:20px;
  padding-top: 200px;
}

.slogan h2{
    text-shadow: 1px 1px 20px grey;
}

.slogan h3{
  font-family: 'PT Mono', monospace;
  font-size: 20px;
  color:white;
  text-shadow: 1px 1px 20px grey;

}

.container{
  width:1000px;
  margin:auto;
}

.product{
  width: 33.2%;
  float: left;
  border:0;
}

.product img{
  margin: auto;
  display: block;
  width: 95%;
}

#portfolio{
  padding-bottom:150px;
}

#portfolio img{
  width: 100%;
  height:170px;
  margin-top:20px;
  margin-bottom: 20px;
}

#drone-4{
  background-image: url("images/drone_seguranca.svg");
}
